.elementor-23 .elementor-element.elementor-element-6b73777 > .elementor-container{max-width:602px;}.elementor-23 .elementor-element.elementor-element-4ec33e8 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-1138626{text-align:center;}.elementor-23 .elementor-element.elementor-element-1138626 .elementor-heading-title{color:#00428C;}.elementor-23 .elementor-element.elementor-element-1138626 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-23 .elementor-element.elementor-element-eacde35 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-3f4cee9 > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-f029d72 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-aada5e7 > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-489e39c > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-c81151d > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-d92cd8f > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-main-swiper .swiper-slide{padding:0px 0px 0px 0px;}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text{font-size:18px;font-style:normal;}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-swiper-button{font-size:30px;color:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-swiper-button svg{fill:var( --e-global-color-secondary );}.elementor-23 .elementor-element.elementor-element-7e68e9a > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#B0464600;}@media(max-width:1024px){.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text{font-size:16px;}}@media(max-width:767px){.elementor-23 .elementor-element.elementor-element-1138626{text-align:left;}.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text{font-size:16px;}.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text{font-size:16px;}}/* Start custom CSS for testimonial-carousel, class: .elementor-element-3f4cee9 */.elementor-23 .elementor-element.elementor-element-3f4cee9 .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-3f4cee9 .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-3f4cee9 .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-f029d72 */.elementor-23 .elementor-element.elementor-element-f029d72 .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 25px;
}

.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-f029d72 .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-f029d72 .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-aada5e7 */.elementor-23 .elementor-element.elementor-element-aada5e7 .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-aada5e7 .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-aada5e7 .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-489e39c */.elementor-23 .elementor-element.elementor-element-489e39c .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-489e39c .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-489e39c .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-c81151d */.elementor-23 .elementor-element.elementor-element-c81151d .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-c81151d .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-c81151d .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-d92cd8f */.elementor-23 .elementor-element.elementor-element-d92cd8f .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-d92cd8f .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-d92cd8f .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-7e68e9a */.elementor-23 .elementor-element.elementor-element-7e68e9a .swiper-slide {
    background: #E8EFF4;
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__content {
    background: #E8EFF4;
    position: relative;
    padding: 20px ;
}


.elementor-testimonial__cite {
 text-align: left;   
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text {
position: relative;
padding-top: 40px;
padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:after {
position: absolute;

font-size: 40px;
line-height: 1;
color: #61a60e;
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:before {
content: "\275D";
top: 0px;
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:after {
content: "\275E";
right: 0;
bottom: -40px;
}
.elementor-testimonial__cite {
text-align: left;   
}

@media (min-width: 768px){
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__content {
padding: 60px;
} 
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:before,
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text:after { 
font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-7e68e9a .swiper-slide {
    background: transparent;
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__content {
    padding: 20px 40px;
}
.elementor-23 .elementor-element.elementor-element-7e68e9a .elementor-testimonial__text {
    padding-top: 60px;
}

}/* End custom CSS */